fastapi[standard]
uvicorn[standard]
openpyxl
pydantic
pydantic-settings
sqlalchemy
databases
aiosqlite
asyncpg
psycopg2-binary
alembic
python-jose[cryptography]
python-multipart
python-dotenv
PyJWT
pwdlib
pwdlib[argon2]
aiofiles